<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.thehandsome.mapper.BoardMapper">
  
  <select id = "getList" resultType="com.thehandsome.domain.BoardVO">
  <![CDATA[
  	select qid, mid, qtitle, qcontent, qdate from qna where qid > 0
  ]]>
  
  </select>
  <!-- 
  	필요한 순서로 정렬된 데이터에 ROWNUM을 붙인다.
  	처음부터 해당 페이지의 데이터를 ROWNUM<=총행수 같은 조건을 이용해서 구한다
  	구해놓은 데이터를 하나의 테이블 처럼 간주하고 인라인 뷰로 처리한다.
  	인라인뷰에서 필요한 데이터만을 넘긴다
  	pageNum : 만들고자하는 페이지의 수
  	amount : 각 페이지 마다 표시할 행의 수
   -->
  <select id = "getListWithPaging" resultType="com.thehandsome.domain.BoardVO">
  	<![CDATA[
  		select qid, mid, qtitle, qcontent, qdate
  		from
  			(
  			 select 	/*+ INDEX_DESC(qna qna_pk) */
  				rownum rn, qid, mid, qtitle, qcontent, qdate
  			 from
  			 	qna
  			 where rownum <= #{pageNum} * #{amount}	 
  			)
  		where rn > (#{pageNum} -1 ) * #{amount}
  	]]>
  </select>
  
  <insert id="insert" parameterType="com.thehandsome.domain.BoardVO">
  		INSERT INTO qna(qid, mid, qtitle, qcontent, qdate)
  		VALUES(qid_seq.nextval, #{mid}, #{qtitle}, #{qcontent}, sysdate)
  </insert>
  
  <select id = "read" resultType="com.thehandsome.domain.BoardVO">
  		SELECT * FROM qna where qid = #{qid}
  </select>
  
  <delete id="delete">
  		DELETE FROM qna where qid = #{qid}
  </delete>
  
  <update id = "update" parameterType="com.thehandsome.domain.BoardVO">
  		UPDATE qna
  		SET
  		qtitle=#{qtitle}, 
  		qcontent=#{qcontent},
  		qdate=sysdate
  		WHERE qid=#{qid}
  </update>
  
  <select id = "getTotalCount" resultType="int">
  	<![CDATA[
  		SELECT count(*) from qna where qid>0
  	]]>
  </select>
  </mapper>