<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <!-- 
 /* 
 * 김민선 생성
 * [쿠폰 생성, 쿠폰 삭제, 쿠폰 조회, 쿠폰 ] 쿼리
 */
  -->
  
  <mapper namespace="com.thehandsome.mapper.CouponMapper">

	<insert id="makeCoupon" parameterType="com.thehandsome.domain.CouponVO" >
  		insert into coupon values
  		(seq_ccode.nextval, #{mid},'event coupon', sysdate, sysdate+10, 0)
  	</insert>
  	
  	<!--  
  	<select id="couponlist" parameterType="String" resultType="String">
  		select * from coupon where mid=#{mid}
  	</select>
  	-->
  	
</mapper>