<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <!-- 
 /*****************************************************
 * @function : CouponMapper
 * @author : 김민선
 * @Date : 2022.10.20
 *****************************************************/
  -->
  
  <mapper namespace="com.thehandsome.mapper.CouponMapper">
	<!-- 쿠폰생성 -->
	<insert id="makeCoupon" parameterType="com.thehandsome.domain.CouponVO" >
  		insert into coupon values
  		(seq_ccode.nextval, #{mid},'10% event coupon', sysdate, sysdate+10, 10, 0)
  	</insert>
  	
  	<!-- 쿠폰조회 -->
  	<select id="getCoupon" parameterType="String" resultType="com.thehandsome.domain.CouponVO">
  		select * from coupon where mid= #{mid}
  	</select>
  
  	
</mapper>