<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    <!-- 
  /* 작성자 : 문혁
 * 메인페이지 신상품, 베스트 상품 , 매거진 리스트 조회 쿼리
 */
   -->
 <mapper namespace="com.thehandsome.mapper">
 <!-- ref의 경우 NEW = 신상품, BEST = 베스트상품 -->
 <select id="getProductList" resultType="com.jmh.domain.MainListVO">
 	select p.pid productCode, p.t01_imageurl T01imageUrl, p.pname productName, b.bname brandName, p.pprice price 
    from product p join brand b 
        on(p.bno = b.bno) where p.ref = #{param1} and p.clarge = #{param2}
 </select> 
 
 <select id="getMagazineList" resultType="com.jmh.domain.MainMagazineListVO">
	select msubtitle mobileSubTitle, dsubtitle desktopSubTitle, mtitle mobileTitle,
 	 mimgurl imageUrl, mid pk, mcategory category, dtitle desktopTitle  
    from magazine
 </select> 

 </mapper> 
 