<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 상품 상세 조회, 상품 컬러 리스트 조회, 상품정보 조회, 카테고리별 상품 조회, 상품 총 개수 조회 쿼리 -->

<mapper namespace="com.thehandsome.mapper.ProductMapper">

	<select id="productGetDetail"
		resultType="com.thehandsome.domain.ProductVO">
		select p.pid, p.bname, p.clarge, p.cmedium,
		p.csmall,
		p.pname,
		p.pprice, p.pdetail, c.ccolorcode, c.cimage1,
		c.cimage2,
		c.cimage3, c.cimage4, c.cimage5
		from product p
		join
		color c on p.pid =
		c.pid
		where
		p.pid=#{pid}
	</select>

	<select id="productGetColor"
		resultType="com.thehandsome.domain.ColorVO">
		select pid, ccolorcode, cname, ccolorimage, cpreview,
		cimage1,
		cimage2, cimage3, cimage4, cimage5 from color where pid=#{pid}
	</select>

	<select id="getList"
		resultType="com.thehandsome.domain.ProductVO">
		select p.pid, pname, c.clarge, c.medium, c.csamll,
		pprice,
		c.cimage3, c.cimage4
		from
		product p
		join
		color c on p.pid =
		c.pid
		where
		bname = #{bname}
	</select>

	<select id="read" resultType="com.thehandsome.domain.ProductVO">
		select pid, bno, clarge, cmedium,
		csamll, pname, pprice, pdetail, c.cimage1, c.cimage2
		from product p
		join color c on p.pid = c.pid
		where bname = #{bname}
	</select>

	<select id="getListWithPaging"
		resultType="com.thehandsome.domain.ProductVO">
		SELECT p.*
		FROM
		(select distinct pid,rownum rn, pname, pprice, bname,
		clarge, cmedium, csmall
		from (select * from
		product where clarge =
		#{clarge}
		<if test="cmedium !='' ">
			and cmedium = #{cmedium}
		</if>
		<if test="csmall !='' ">
			and csmall =#{csmall}
		</if>
		)) p
			<![CDATA[
			WHERE p.rn > (#{param1.pageNum} -1) * #{param1.amount} and p.rn <= #{param1.pageNum} * #{param1.amount}
    		]]>
	</select>

	<select id="getSize" resultType="String">
		select distinct ssize
		from stock
		where pid=#{pid}
		ORDER BY
		CASE ssize
		WHEN 'XXS' THEN 0
		WHEN 'XS' THEN 1
		WHEN 'S' THEN 2
		WHEN 'M' THEN 3
		WHEN 'L' THEN 4
		WHEN 'XL' THEN 5
		WHEN
		'XXL' THEN 6
		END
		ASC,
		to_number(REGEXP_REPLACE(ssize, '[^0-9]'))
	</select>

	<select id="getTotal" resultType="int">
		select count(*)
		from product
		where clarge = #{clarge}
		<if test="cmedium !='' ">
			and cmedium = #{cmedium}
		</if>
		<if test="csmall !='' ">
			and csmall =#{csmall}
		</if>
	</select>
</mapper>
